

.about{
 
    
    padding: 10rem 10rem;
    background-image: linear-gradient(to left bottom, #1c2670  ,#15104e);

    background-size: cover;
    background-attachment: fixed;
        
    .glisse,
    .gilsse2 {
      opacity: 0;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      text-align: center; }


@include respond(tab-port) {
    padding: 5rem 5rem;
}

@include respond(phone) {
    padding:2rem 2rem;
}
}