.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.5rem 1.5rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.2s;
		position: relative;
		font-size: 1.6rem;

		//Change for the <button> element
		border: none;
		cursor: pointer;
		@media #{$mobile_device} {
			padding: 0.4rem 1.3rem;
			font-size: 1rem;
		}
		@media #{$tablet_device} {
			padding: 0.4rem 1.3rem;
			font-size: 1rem;
		}
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba(#000000, 0.2);
		color: #ff1654;

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba(#000000, 0.2);
	}

	&--white {
		background-color: rgb(60, 193, 226);
		color: #ffffff;

		&::after {
			background-color: rgb(60, 193, 226);
		}
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: 1rem;
		color: #ff1654;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid #ff1654;
		padding: 3px;
		transition: all 0.2s;
	}

	&:hover {
		background-color: #ff1654;
		color: #fff;
		box-shadow: 0 1rem 2rem rgba(#000000, 0.15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 0.5rem 1rem rgba(#000000, 0.15);
		transform: translateY(0);
	}
}

.btn_event {
	margin-top: 1rem;
	text-align: center;
	display: inline-block;

	a:first-child {
		margin-right: 20px;
		margin-left: -20px;
	}


