/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9; } }

.slicknav_menu .slicknav_nav {
  background: #0d1664;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px; }
  .slicknav_menu .slicknav_nav a {
    color: #fff; }
    .slicknav_menu .slicknav_nav a:hover {
      background: transparent;
      color: red; }
    .slicknav_menu .slicknav_nav a.active {
      color: red; }
    @media (max-width: 767px) {
      .slicknav_menu .slicknav_nav a i {
        display: none; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .slicknav_menu .slicknav_nav a i {
        display: none; } }
  .slicknav_menu .slicknav_nav .slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -40px;
    position: relative;
    z-index: 99;
    border: 1px solid #ddd;
    top: 3px;
    right: 5px;
    top: -36px; }
    .slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
      margin-right: 6px;
      margin-top: 3px;
      position: relative;
      padding-bottom: 3px;
      top: -11px;
      right: -5px; }

@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0px; } }

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px; }
  .slicknav_nav .slicknav_arrow:hover {
    color: white; }

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px; }

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -24px; }

.slicknav_icon-bar {
  background: #fff !important; }

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -29px;
  right: 7px; }

/* 1. Theme default css */
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start; }

.overlay::before {
  background-image: -moz-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
  background-image: -ms-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%); }

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal; }

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

a,
.button, button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none; }

a:focus {
  text-decoration: none; }

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none; }

a,
button {
  outline: medium none; }

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  color: #0d1664; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: grey;
  margin-bottom: 0px;
  font-family: "Raleway", sans-serif; }

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400; }

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1; }

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1; }

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1; }

h3 {
  font-size: 31px;
  font-weight: 800; }

.mb-65 {
  margin-bottom: 67px; }

.black-bg {
  background: #020c26 !important; }

.white-bg {
  background: #ffffff; }

.gray-bg {
  background: #f5f5f5; }

.overlay {
  position: relative;
  z-index: 0; }

.overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.overlay2 {
  position: relative;
  z-index: 0; }



.section-padding {
  padding-top: 120px;
  padding-bottom: 120px; }

.pt-120 {
  padding-top: 120px; }
  @media (max-width: 767px) {
    .pt-120 {
      padding-top: 60px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .pt-120 {
      padding-top: 100px; } }

/* button style */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #fff;
  left: 140px; }

.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 140px; }
  .owl-carousel .owl-nav div.owl-next i {
    position: relative;
    right: 0; }

.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px; }

.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible; }
  .owl-carousel:hover .owl-nav div:hover {
    color: #fff;
    background: #0d1664;
    border: 1px solid transparent; }

.mb-20px {
  margin-bottom: 20px; }

.mb-55 {
  margin-bottom: 55px; }

.mb-40 {
  margin-bottom: 40px; }

.section_padding {
  padding-top: 120px;
  padding-bottom: 120px; }
  @media (max-width: 767px) {
    .section_padding {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .section_padding {
      padding-top: 80px;
      padding-bottom: 80px; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media (max-width: 767px) {
    .btn, .btn:link, .btn:visited {
      padding: 0.4rem 1.3rem;
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .btn, .btn:link, .btn:visited {
      padding: 0.4rem 1.3rem;
      font-size: 1rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: red; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #0a194d;
  color: #ffffff; }
  .btn--white::after {
    background-color: #0a194d; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  color: red;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid red;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: red;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn_event {
  margin-top: 1rem;
  text-align: center;
  display: inline-block; }
  .btn_event a:first-child {
    margin-right: 20px;
    margin-left: -20px; }
  .btn_event .btnBack {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
    .btn_event .btnBack:hover, .btn_event .btnBack:focus {
      color: #fff;
      outline: 0; }
  .btn_event .first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }
    .btn_event .first:hover {
      box-shadow: 0 0 40px 40px red inset; }

[class^="col--"] {
  float: left; }
  [class^="col--"]:not(:last-child) {
    margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      [class^="col--"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    [class^="col--"] {
      width: 100% !important; } }

.col--1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col--1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.col--2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.col--1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.col--2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.col--3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.feature-box {
  background-color: rgba(226, 235, 241, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 3rem 3rem #c5c9e4;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(0, 149, 198, 0.8), rgba(5, 102, 141, 0.8));
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.section-features {
  padding: 5rem 5rem;
  background-color: rgba(243, 243, 243, 0.835);
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 3rem 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-features {
      padding: 1rem 1rem; } }

.m1:hover h3,
.m2:hover h3,
.m3:hover h3 {
  color: red;
  transition: .5s; }

.about {
  padding: 10rem 10rem;
  /*background-image: linear-gradient(to right bottom, rgba(21, 111, 163, 0.5), rgba(105, 169, 253, 0.5)), url("../img/adm1.jpg");*/
  background-image: linear-gradient(to left bottom, #1c2670  ,#15104e);
  background-size: cover;
  background-attachment: center; }
  .about .glisse,
  .about .gilsse2 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding: 5rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 2rem 2rem; } }

.glisse,
.gilsse2 {
  opacity: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 1s;
  text-align: center; }

.heading-secondary {
  margin-bottom: 70px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0003c6, #0a194d);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.88;
  color: grey;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif; }

.u-center-text {
  text-align: center !important; }

.section-missions {
  background-color: rgba(226, 235, 241, 0.863);
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 4%;
  padding-bottom: 15%;
  height: auto; }
  @media only screen and (max-width: 56.25em) {
    .section-missions {
      padding: 5rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-missions {
      padding: 5rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .section-missions {
      height: auto; } }
  @media only screen and (max-width: 75em) {
    .section-missions {
      height: auto; } }
  .section-missions span {
    position: relative;
    display: block;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.9s; }
    .section-missions span i {
      background-image: linear-gradient(to right, rgba(59, 78, 245, 0.8),#0c1352);
      -webkit-background-clip: text;
      color: transparent;
      right: 5px;
      position: absolute; }
    .section-missions span h3 {
      margin-left: 5px;
      background-image: linear-gradient(to right,rgba(16, 30, 150, 0.8),#0d1664);
      -webkit-background-clip: text;
      color: transparent;
      font-size: 2.5rem; }
      @media only screen and (max-width: 56.25em) {
        .section-missions span h3 {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .section-missions span h3 {
          font-size: 1.5rem; } }
    .section-missions span::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: linear-gradient(to right, rgba(112, 120, 201, 0.8),#080f4e);
      transition: width .9s; }
    .section-missions span:hover::after {
      width: 100%; }

.composition {
  position: relative;
  height: 100%;
  width: 100%; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: -10%;
      top: 5rem;
      z-index: 2; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          left: 0;
          top: 1rem;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem;
      z-index: 4; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -2rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 13rem;
      z-index: 5; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo--p4 {
      right: 30%;
      top: -2.5rem;
      z-index: 3; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p4 {
          top: -1rem;
          right: 30%;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #0d1664;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 30000; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }


.contact {
  margin: 0 2rem;
  width: 100%;
  background-image: linear-gradient(100deg, rgba(163, 201, 214, 0.8) 0%, rgba(125, 194, 221, 0.8) 65%, transparent 50%), url(../img/team-spirit-2447163_640.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .contact {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .contact {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg); } }
  .contact__form {
    width: 70%;
    padding: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .contact__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .contact__form {
        width: 100%; } }

/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0px 10px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem; }
  @media (max-width: 767px) {
    .icon-button {
      margin: 0px 5px; } }

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0; }

.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem; }

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.6rem;
  z-index: 10; }

.twitter span {
  background-color: #4099ff; }

.facebook span {
  background-color: #3B5998; }

.instagram span {
  background-color: #C13584; }

.youtube span {
  background-color: #bb0000; }

.icon-button .fa-twitter {
  color: #4099ff; }

.icon-button .fa-facebook {
  color: #3B5998; }

.icon-button .fa-instagram {
  color: #C13584; }

.icon-button .fa-youtube {
  color: #bb0000; }

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube {
  color: white; }

.form__group:not(:last-child) {
  margin-bottom: .7rem; }

.form .plus a:hover {
  color: #ffffff; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%;
      font-size: 1rem; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #23b5cf; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: grey; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 20%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem; 
 }

.form__radio-button {
  height: 1.5rem;
  width: 1.5rem;
  border: 5px solid  #05668D;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0095C6;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.successMessage {
  background-color: #7acc7d;
  border: #2b5a2d 1px solid;
  padding: 5px 9px;
  color: #262b26;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em; }

.errorMessage {
  background-color: #e64141;
  border: #da1414 1px solid;
  padding: 5px 10px;
  color: #fdf7f7;
  border-radius: 4px; }

.events-comming {
  padding: 5rem 2rem;
  background-color: rgba(243, 243, 243, 0.835);
  background-size: cover; }
  .events-comming .col--2-of-3 .heading-tertiary {
    margin-top: 10px; }
  .events-comming .feature-events-box {
    background-color: rgba(226, 235, 241, 0.8);
    font-size: 1.5rem;
    padding: 0 1rem;
    border-radius: 3px;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.15);
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .events-comming .feature-events-box {
        padding: 2rem; } }
    .events-comming .feature-events-box:hover {
      transform: translateY(-1.5rem) scale(1.03); }
      .events-comming .feature-events-box:hover .composition img {
        opacity: 1; }
  @media only screen and (max-width: 56.25em) {
    .events-comming {
      padding: 3rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .events-comming {
      padding: 1rem 0; } }
  .events-comming .composition {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .events-comming .composition {
        width: 100%; } }
    .events-comming .composition img {
      width: 100%;
      opacity: 0.8;
      transition: opacity .3s; }

.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.content {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: #000; }

.countdown {
  margin: auto;
  display: table;
  font-size: 28px;
  font-weight: 500; }
  .countdown > div {
    float: left;
    min-width: 80px; }
  .countdown span {
    position: relative;
    display: block;
    font-size: 16px;
    text-align: center; }
    .countdown span:before {
      content: '';
      position: absolute;
      top: -2px;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      width: 20px;
      height: 1px;
      background: #000; }


/*
  #container {
    margin:0px auto;  
    width: 100%;
    text-align: center;
  }
  
  .slice {
    width:14%;
    height:50vh;
    background:#a0a0a0;
    display:inline-block;
    
    margin:0px -0;//-5px entrelacement
    overflow:hidden;  

    
  -ms-transform: skewX(-8deg); /* IE 9 */
/*-webkit-transform: skewX(-8deg); /* Safari */
/* transform: skewX(-8deg); 
    
    -webkit-transition: width 0.2s, height 2s, 
    -webkit-transform 0.2s; /* Safari */
/* transition: width 0.2s, height 2s, transform 0.2s;
  }
  
  .slice img {
    -ms-transform: skewX(8deg); /* IE 9 */
/*-webkit-transform: skewX(8deg); /* Safari */
/* transform: skewX(8deg);   
    height:100%;
    margin-left:-100px;
  }
  */
.footer {
  background-image: radial-gradient(rgba(16, 30, 150, 0.8),#0d1664);
  padding: 5rem 0;
  font-size: 1rem;
  color: white; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 2rem 0; } }
  .footer .short_contact_list a {
    font-size: 80%;
    color: #0a063b; }
    .footer .short_contact_list a:hover {
      color: white; }
  .footer p {
    color: #0a063b;
    font-size: 80%; }
  .footer .c1,
  .footer .c2,
  .footer .c3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .footer .c1 {
    animation-delay: 0s; }
  .footer .c2 {
    animation-delay: 1s; }
  .footer .c3 {
    animation-delay: 0s; }

.section-volunteer {
  padding: 5rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .section-volunteer {
      padding: 5rem 0; } }

.contact-form {
  margin-top: 30px; }
  .contact-form .input-block {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #05668D;
    width: 100%;
    height: 60px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .contact-form .input-block.focus {
      background-color: #fff;
      border: solid 1px #03425c; }
    .contact-form .input-block.textarea {
      height: auto; }
      .contact-form .input-block.textarea .form-control {
        height: auto;
        resize: none; }
    .contact-form .input-block label {
      position: absolute;
      left: 25px;
      top: 25px;
      display: block;
      margin: 0;
      font-weight: 300;
      z-index: 1;
      color: #333;
      font-size: 18px;
      line-height: 10px; }
    .contact-form .input-block .form-control {
      background-color: transparent;
      padding: 0;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      height: auto;
      position: relative;
      z-index: 2;
      font-size: 18px;
      color: #333; }
    .contact-form .input-block .form-control:focus label {
      top: 0; }
  .contact-form .square-button {
    background-color: rgba(255, 255, 255, 0.8);
    color: #03425c;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 60px;
    height: 60px;
    border: none;
    width: 100%; }
    .contact-form .square-button:hover, .contact-form .square-button:focus {
      background-color: white; }

@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto; } }

.contact-wrap {
  padding: 15px; }
  .contact-wrap h1 {
    background-color: white;
    color: #0d1664;
    padding: 40px;
    margin: 0 0 50px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
    .contact-wrap h1 small {
      font-size: 18px;
      display: block;
      text-transform: none;
      font-weight: 300;
      margin-top: 10px;
      color: #078abe; }

.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff; }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px; }
  .made-with-love a {
    color: #fff;
    text-decoration: none; }
    .made-with-love a:hover {
      text-decoration: underline; }

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  padding: 0 100px 50px 100px; }
  @media (max-width: 767px) {
    .header-area {
      padding: 0 10px 10px 10px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .header-area {
      padding: 0 10px 10px 10px; } }
  .header-area .main-header-area {
    background: transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 35px;
    position: absolute;
    bottom: -50px;
    z-index: 999;
    z-index: 999;
    left: 100px;
    top: 70px;
    bottom: auto;
    right: 100px; }
    @media (max-width: 767px) {
      .header-area .main-header-area {
        right: 15px;
        left: 15px;
        padding: 12px 0; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .header-area .main-header-area {
        right: 15px;
        left: 15px;
        padding: 12px 0; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .header-area .main-header-area {
        right: 60px;
        left: 60px; } }
    @media (max-width: 767px) {
      .header-area .main-header-area .logo img {
        width: 50px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .header-area .main-header-area .logo img {
        width: 45px; } }
    .header-area .main-header-area .Appointment {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end; }
      .header-area .main-header-area .Appointment .socail_links ul li {
        display: inline-block; }
        .header-area .main-header-area .Appointment .socail_links ul li a {
          color: #A8A7A0;
          margin: 0 10px;
          font-size: 15px; }
          .header-area .main-header-area .Appointment .socail_links ul li a:hover {
            color: #fff; }
      .header-area .main-header-area .Appointment .book_btn {
        margin-left: 30px; }
        .header-area .main-header-area .Appointment .book_btn a {
          background: #fff;
          padding: 12px 26px;
          font-size: 16px;
          font-weight: 600;
          color: #0d1664;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          font-family: "Raleway", sans-serif; }
          @media (min-width: 992px) and (max-width: 1200px) {
            .header-area .main-header-area .Appointment .book_btn a {
              padding: 12px 20px; } }
          .header-area .main-header-area .Appointment .book_btn a:hover {
            background: #fff;
            color: red; }
    .header-area .main-header-area .main-menu {
      padding: 12px 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end; }
      @media (max-width: 767px) {
        .header-area .main-header-area .main-menu {
          display: none; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .header-area .main-header-area .main-menu {
          display: none; } }
      .header-area .main-header-area .main-menu ul li {
        display: inline-block;
        position: relative;
        margin: 0 10px; }
        .header-area .main-header-area .main-menu ul li a {
          color: #fff;
          font-size: 16px;
          text-transform: capitalize;
          font-weight: 600;
          display: inline-block;
          padding: 0px 0px 0px 0px;
          font-family: "Raleway", sans-serif;
          position: relative;
          text-transform: capitalize; }
          @media (min-width: 992px) and (max-width: 1200px) {
            .header-area .main-header-area .main-menu ul li a {
              font-size: 15px; } }
          @media (min-width: 1200px) and (max-width: 1500px) {
            .header-area .main-header-area .main-menu ul li a {
              font-size: 15px; } }
          .header-area .main-header-area .main-menu ul li a i {
            font-size: 9px; }
            @media (max-width: 767px) {
              .header-area .main-header-area .main-menu ul li a i {
                display: none !important; } }
            @media (min-width: 768px) and (max-width: 991px) {
              .header-area .main-header-area .main-menu ul li a i {
                display: none !important; } }
          .header-area .main-header-area .main-menu ul li a:hover {
            color: red; }
        .header-area .main-header-area .main-menu ul li .submenu {
          position: absolute;
          left: 0;
          top: 160%;
          background: transparent;
          width: 200px;
          z-index: 2;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
          opacity: 0;
          visibility: hidden;
          text-align: left;
          -webkit-transition: 0.6s;
          -moz-transition: 0.6s;
          -o-transition: 0.6s;
          transition: 0.6s; }
          .header-area .main-header-area .main-menu ul li .submenu li {
            display: block; }
            .header-area .main-header-area .main-menu ul li .submenu li a {
              padding: 10px 15px;
              position: inherit;
              -webkit-transition: 0.3s;
              -moz-transition: 0.3s;
              -o-transition: 0.3s;
              transition: 0.3s;
              display: block;
              color: #fff; }
              .header-area .main-header-area .main-menu ul li .submenu li a::before {
                display: none; }
            .header-area .main-header-area .main-menu ul li .submenu li:hover a {
              color: red; }
        .header-area .main-header-area .main-menu ul li:hover > .submenu {
          opacity: 1;
          visibility: visible;
          top: 150%; }
        .header-area .main-header-area .main-menu ul li:hover > a::before {
          opacity: 1;
          transform: scaleX(1); }
        .header-area .main-header-area .main-menu ul li:first-child a {
          padding-left: 0; }
    .header-area .main-header-area.sticky {
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      z-index: 999;
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      -webkit-transition: transform 500ms ease, background 500ms ease;
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
      background: #0d1664;
      bottom: auto; }
      @media (max-width: 767px) {
        .header-area .main-header-area.sticky {
          padding: 10px 10px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .header-area .main-header-area.sticky {
          padding: 10px 10px; } }
      .header-area .main-header-area.sticky ul li .submenu li {
        background: #0d1664; }

.header-top_area {
  padding: 23px 0; }
  @media (max-width: 767px) {
    .header-top_area {
      padding: 10px 0; } }
  .header-top_area .social_media_links {
    text-align: right; }
    @media (max-width: 767px) {
      .header-top_area .social_media_links {
        text-align: center; } }
    .header-top_area .social_media_links a {
      font-size: 15px;
      color: #222222;
      margin-right: 12px; }
    .header-top_area .social_media_links .fb:hover {
      color: #3b5998; }
    .header-top_area .social_media_links .twt:hover {
      color: #1da1f2; }
    .header-top_area .social_media_links .inst:hover {
      color: #c32aa3; }
    .header-top_area .social_media_links .ytb:hover {
      color: #ff0000; }
  .header-top_area .short_contact_list {
    text-align: left; }
    @media (max-width: 767px) {
      .header-top_area .short_contact_list {
        text-align: center; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .header-top_area .short_contact_list {
        text-align: center; } }
    .header-top_area .short_contact_list ul li {
      display: inline-block; }
      .header-top_area .short_contact_list ul li a {
        font-size: 16px;
        color: #0d1664;
        margin-right: 40px;
        font-family: "Raleway", sans-serif; }
        @media (max-width: 767px) {
          .header-top_area .short_contact_list ul li a {
            margin-right: 0;
            margin: 0 5px; } }
        .header-top_area .short_contact_list ul li a i {
          margin-right: 10px;
          font-size: 20px; }

.t2 span::before {
  content: "";
  animation: anspan 10s ease-out infinite both; }

.t2 p::before {
  content: "";
  animation: anp 10s ease-out infinite both; 
  color: #0a063b}

.t2 h3::before {
  content: "";
  animation: anh3 10s ease-out infinite both; 
  color: red;}

.slider_area .single_slider {
  height: 742px;
  margin-top: -42px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: fondu 10s ease-in-out infinite both; }
  @media (max-width: 767px) {
    .slider_area .single_slider {
      height: 500px;
      margin-top: -5px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .slider_area .single_slider {
      height: 700px;
      margin-top: -5px; } }
  .slider_area .single_slider .slider_text > span {
    text-transform: capitalize;
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    display: block; }
  .slider_area .single_slider .slider_text a {
    color: white; }
  .slider_area .single_slider .slider_text a:hover {
    color: red; }
  .slider_area .single_slider .slider_text h3 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 84px;
    margin-top: 6px;
    margin-bottom: 9px;
    line-height: 1.14; }
    @media (max-width: 767px) {
      .slider_area .single_slider .slider_text h3 {
        font-size: 33px;
        margin-bottom: 10px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .slider_area .single_slider .slider_text h3 {
        font-size: 55px; } }
  .slider_area .single_slider .slider_text p {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 10px; }
    @media (min-width: 992px) and (max-width: 1200px) {
      .slider_area .single_slider .slider_text p {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .slider_area .single_slider .slider_text p {
        font-size: 16px; } }

@keyframes fondu {
  0%
    {
      background-image: url("../img/head.jpeg");  }
  33%
    {
      background-image:  url("../img/inertie.jpeg");}
  66% {
    background-image: url("../img/parole.jpeg"); }
  100% {
    background-image: url("../img/15.png"); } }



@keyframes anp {
  0% {
    content: "Paralysé"; }
  33% {
    content: "d'un membre"; }
  66% {
    content: "de la parole"; }
  100% {
    content: "appelez 15"; } }

@keyframes anh3 {
  0% {
    content: "Visage"; }
  33% {
    content: "Inertie"; }
  66% {
    content: "Trouble"; }
  100% {
    content: "En urgence"; } }


.slider_area_volunteer .single_slider_volunteer{
          height: 500px;
         
          margin-top: -42px;
         
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center ;
          background-image: url(../img/AVC3.jpeg);
          background-attachment: fixed;
          text-align: center;
          
          
    
          @media #{$mobile_device} {
              height: 300px;
              margin-top: -9px;
          }
          @media #{$tablet_device} {
              height: 400px;
              margin-top: 10px;
          }
          .text_volunteer{
              margin: 0 auto;
              width: 90%;
              
              h1{
                  color: #fff;
                  font-family: $font1;
                  font-size: 84px;
                  margin-top: 6px;
                  margin-bottom: 9px;
                  line-height: 1.14;
               @media #{$mobile_device} {
                 font-size: 33px;
                 margin-bottom: 2px;
              }
               @media #{$tablet_device} {
                  font-size: 55px;
              }
              }
          
          }
          
      }
     
  
    
    
    
    

      /***********popoup*/



.overlay {
  position: fixed;
  left: 0px;
  top:0px;
  background-color: rgba(0,0 ,0 , 0.5);
  width: 100%;
  height: 100%;
  z-index:1;
  display:none;
  }


  .btnClose {
    float: right;
    font-size:16pt;
    cursor: pointer;
    color: rgb(26, 26, 26);
    }


  .popup{
    margin: 10% auto;
    width : 70%;
    background-color: rgb(158, 169, 235);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    }


