

.t2 span::before{
    content: "";
    animation: anspan 10s ease-out infinite both;

}

.t2 p::before{
    content: "";
    animation: anp 10s ease-out infinite both;
}

.t2 h3::before{
    content: "";
    animation: anh3 10s ease-out infinite both;
}




.slider_area{
    .single_slider{
        height: 742px;
        margin-top: -42px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
        animation: fondu 10s ease-in-out infinite both;

        @media #{$mobile_device} {
            height: 500px;
            margin-top:-5px;
        }
        @media #{$tablet_device} {
            height: 700px;
            margin-top: -5px;
        }
        .slider_text{
            >span{
                text-transform: capitalize;
                font-size: 26px;
                color: #fff;
                font-weight: 600;
                font-family: $font2;
                display: block;
            }
            a{
                color:white;
            }
            a:hover{
                color:$rose-1;
            }
            h3{
                color: #fff;
                font-family: $font1;
                font-size: 84px;
                margin-top: 6px;
                margin-bottom: 9px;
                line-height: 1.14;
             @media #{$mobile_device} {
               font-size: 33px;
               margin-bottom: 10px;
            }
             @media #{$tablet_device} {
                font-size: 55px;
            }
            }
            p{
                font-size: 20px;
                font-weight: 400;
                color: #FFFFFF;
                margin-bottom: 40px;
                margin-top: 10px;
             @media #{$mid_device} {
                font-size: 16px;
             }
             @media #{$mobile_device} {
                font-size: 16px;
             }
            }
        }
        
    }
   
}



//volunteer


.slider_area_volunteer{
   
  .single_slider_volunteer{
      height: 500px;
     
      margin-top: -42px;
     
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center ;
      background-image: url(../img/AVC2.jpg);
      background-attachment: fixed;
      text-align: center;
      
      

      @media #{$mobile_device} {
          height: 300px;
          margin-top: -9px;
      }
      @media #{$tablet_device} {
          height: 400px;
          margin-top: 10px;
      }
      .text_volunteer{
          margin: 0 auto;
          width: 90%;
          
          h1{
              color: #fff;
              font-family: $font1;
              font-size: 84px;
              margin-top: 6px;
              margin-bottom: 9px;
              line-height: 1.14;
           @media #{$mobile_device} {
             font-size: 33px;
             margin-bottom: 2px;
          }
           @media #{$tablet_device} {
              font-size: 55px;
          }
          }
      
      }
      
  }
 
}









@keyframes fondu {
    0%
      {
        background-image: url("../img/AVC2.jpeg");  }
    33%
      {
        background-image:  url("../img/AVC1.jpg");}
    66% {
      background-image: url("../img/AVC3.jpeg"); }
    100% {
      background-image: url("../img/AVC2.jpeg"); } }
  
  @keyframes anspan {
    0% {
      content: "Qui somme nous ?"; }
    33% {
      content: "commencer l'aventure avec ADM"; }
    66% {
      content: "autre texte"; }
    100% {
      content: "autre"; } }
  
  @keyframes anp {
    0% {
      content: "Comment vivre avec sa maladie et l'accepter"; }
    33% {
      content: "adm : guerier et gueriere"; }
    66% {
      content: "autre chose"; }
    100% {
      content: "autre chose"; } }
  
  @keyframes anh3 {
    0% {
      content: "details"; }
    50% {
      content: "details 2"; }
    75% {
      content: "details 3"; }
    100% {
      content: "details 4"; } }





